body {
    background-color: #f0f0f0;
}

#mainContainer {
    width: 80%;
    padding: 20px;
    margin: 40px auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px;
    min-height: 600px;
    overflow: auto;
}

#titulo {
    text-align: center;
    margin-bottom: 20px;
}

#graficaCanvas {
    border: 1px solid #000000;
    margin-bottom: 20px;
}

#inputsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

#inputFormula, #inputEscala {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

@media (max-width: 800px) {
    #mainContainer {
        min-width: 80%;
    }
    #inputFormula, #inputEscala {
        width: 33%;
    }
    #graficaCanvas {
        width: 80%;
    }
}